:root {
    --purple-medium: #5c3dbf;
    --purple-light: #714ceb;
    --dark-gray: #f0eded;
    --hover-dark-gray: #d4d4d4bb;
    --font-roboto: roboto;
    --font-sansSerif: sans-serif;
    --text-white: #e6e6e6;
    --h1-shadow: 2px 3px 4px rgba(10, 5, 3, 0.78);
}

* {
    margin: 0;
    padding: 0;
    font-family:  monospace, roboto, sans-serif;
}

li {
    width: max-content;
    cursor: pointer;
}

.bi {
    color: var(--purple-medium);
    font-size: 1.3rem;
}

.bi:hover {
    cursor: pointer;
}

button {
    border-radius: 6px;
}

.h1-shadow {
    text-shadow: var(--h1-shadow);
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-medium);
}

#header h1 {
    color: var(--text-white);
}

#content {
    display: grid;
    grid-template-columns: minmax(max-content, 300px) 1fr;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--dark-gray);
    padding: 25px;
}

#sidebar-project {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: max-content;
    flex-shrink: 1;
    transition: 0.15s;
}

#sidebar-project:hover {
    scale: 1.05;
}

#btn-add-project {
    border: none;
    color: var(--purple-medium);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-roboto);
}

#sidebar-list-project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

#sidebar-lsit-project label {
    text-align: center;
}

@media (max-width: 480px)  {
    #sidebar-list-project {
        justify-content: flex-start;
    }
}

#main-content {
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 60px;
    gap: 12px;
}

#main-title {
    display: flex;
    border:solid 2px blue;
}

#main-title h1 {
    text-shadow: 3px 5px 4px rgba(41,18,11,0.18);
}

#main-project {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

#divTaskItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: max-content;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);;
    
}

#divTaskItem:hover {
    cursor: pointer;
}

#divAddTask {
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;
}

#divAddTask .bi-plus-lg {
    font-size: 1.5rem;
    color: var(--purple-light);
}

#divAddTask button {
    border: none;
    background-color: none;
    padding: 6px;
    background-color: white;
}

#divAddTask:hover {
    scale: 1.04;
}

/* POP UP MODAL */
#overlay, #overlayTasks {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;    
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404); /* Black background with opacity */
}

#modal-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    border-radius: 14px;
    background-color: #ffffffe8;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#modal-boxTasks {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: max-content;
    border-radius: 14px;
    background-color: #ffffffe8;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

#form-input, #form-inputTasks {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-roboto);
    padding: 24px;
    gap: 4px;
}
#form-inputTasks {
    gap: 24px;
    padding: 36px;
    padding-top: 20px;
    padding-bottom: 24px;
}

#form-inputTasks input, #form-inputTasks select{
    width: 380px;
    height: 30px;
    padding: 6px;
}

#divDueDate input, #divPriority select {
    width: max-content;
}

#divPriority select {
    height: 40px;
}

#btn-close {
    width: min-content;
    border: none;
    padding: 0;
    background-color: #ffffff00;
    color: rgba(0, 0, 0, 0.548);
    align-self: flex-end;
    font-size: 1.3rem;
}

#form-inputTasks #btn-submit {
    margin-top: 0;
}

#form-input input {
    width: 400px;
    padding: 6px;
}

#divTitle, #divDescription, #divDueDate, #divPriority, #divNotes {
    display: flex;
    flex-direction: column;
}

#btn-submit {
    margin-top: 40px;
    width: 120px;
    align-self: center;
    color: white;
    border: none;
    padding: 6px;
    background-color: var(--purple-medium);
}

